.SHST-Road-Closure-Saved-Data-Item {
    flex: 1;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.SHST-Road-Closure-Saved-Data-Item-Buttons {
    display: flex;
    justify-content: flex-end;
}

.SHST-Road-Closure-Saved-Data-Item-Buttons > * {
    margin-left: 5px;
}