.SHST-Road-Closure-Output-Viewer {
    flex: 1;
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 50px;
}

.SHST-Road-Closure-Output-Viewer-hidden {
    display: none;
}

.SHST-Road-Closure-Output-Viewer-Bottom-Actions {
    position: absolute;
    bottom: 0;
    width: 50%;
    margin: 0 auto;
    z-index: 100;
    padding-right: 50px;
}

.SHST-Road-Closure-Output-Viewer > div {
    display: block;
}