.SHST-Road-Closure-Saved-Data-Viewer {
    flex: 1;
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 50px;
}

.SHST-Road-Closure-Saved-Data-Viewer-Filter {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.SHST-Road-Closure-Saved-Data-Viewer-List > * {
    margin-bottom: 20px
}

.SHST-Road-Closure-Saved-Data-Viewer-Create-Button {
    width: 750px;
    padding-right: 0px;
}