.SHST-Road-Closure-Map-Container {
    margin: 0 auto;
    height: 100%;
    flex: 1;
}

.SHST-Road-Closure-Map-Container-Drawing {
    margin: 0 auto;
    height: 100%;
    flex: 1;   
    cursor: pointer;
}

.SHST-Road-Closure-Map-Center-Coordinates {
    position: absolute;
    bottom: 50px;
}

.SHST-Map-Point-Marker {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: red;
}

.SHST-Map-Roadblock-Marker {
    background-image: url('/roadblock.png');
    background-size: cover;
    width: 64px;
    height: 64px;
}