.SHST-Road-Closure-Form {
    flex: 1;
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 50px;
}

.SHST-Road-Closure-Form > div {
    display: block;
}

.SHST-Streets-Card {
    margin-bottom: 30px;
}

.SHST-Road-Closure-Form-Date-Range-Input-Group > span {
    width: 100%;
}

.SHST-Road-Closure-Form-Date-Range-Input {
    flex: 1 1;
}

.SHST-Road-Closure-Form-Group-Date-Time > div {
    display: flex;
}

.SHST-Road-Closure-Form-Date-Range-Input-Group {
    flex: 2;
}

.SHST-Road-Closure-Form-Schedule-Tables {
    max-height: 200px;
    overflow-y: scroll;
}

.SHST-Road-Closure-Form-Schedule-Table-Container {
    min-height: 100px;
    width: 100%;
    overflow-x: scroll;
}

.SHST-Timezone-Picker-Input + ul {
    max-height: 150px;
    overflow-y: scroll;
}

.SHST-Road-Closure-Form-Bottom-Actions {
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 40px;
    max-width: 750px;
    margin: 0 auto;
    z-index: 100;
    padding-right: 50px;
}

.SHST-Matched-Streets-Table {
    width: 100%;
    min-height: 200px;
    overflow-y: auto;
}

/* WeekCalendar overrides */
.weekCalendar {
    min-height: 250px;
}

.weekCalendar__content {
    max-height: 220px;
}