.SHST-Road-Closure-Form {
    flex: 1;
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 50px;
}

.SHST-Road-Closure-Form > div {
    display: block;
}

/* .SHST-Matched-Streets-Table-Empty > * {
    margin: 0 auto;
    width: 100%;
} */

.SHST-Matched-Streets-Table {
    width: 100%;
    min-height: 200px;
    overflow-y: auto;
}